body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #2b022b;
  padding: 40px; /* ระยะห่างรอบขอบของหน้าทั้งหมด */
  line-height: 1.6; /* ความสูงของบรรทัด */
}
h1{
  text-align: center;
  color: #b6440f;
  margin-bottom: 30px; /* ระยะห่างด้านล่างของหัวข้อ */
  font-size: 2em; /* ขนาดฟอนต์ใหญ่เป็น 2 เท่า*/
  border-bottom: 3px solid #8b0692 ; /* เส้นใต้หัวข้อ หนา 3px */
  padding-bottom: 10px; /* เว้นช่องว่างระหว่างข้อความกับเส้นใต้ */
}
p{
  background-color: #fff;
  padding: 15px 20px; /* ระยะห่างภายในกล่อง (15px บน-ล่าง, 20px ซ้าย-ขวา) */
  margin-bottom: 15px; /* ระยะห่างระหว่างย่อหน้า */
  border-left: 5px solid #52bb0c; /* เส้นขอบซ้าย*/
  box-shadow:0 2px 5px; /* เงาด้านล่าง */
  border-radius: 6px; /* มุมกล่องมน 6px */
}
p strong{
  display: inline;
  width: 200px;
  color:#86e32a
}
.gallery {
  display: flex; /* จัดรูปภาพให้อยู่ในแถวเดียว (แนวนอน) */
  justify-content: center;
  gap: 20px; /* ระยะห่างระหว่างแต่ละรูป */
  margin-top: 20px;/* เว้นระยะด้านบน */
  flex-wrap: wrap; /* ถ้าหน้าจอเล็กให้ขึ้นบรรทัดใหม่อัตโนมัติ */
}

.gallery img {

  width: 200px;
  object-fit: cover; /* ปรับภาพให้เต็มกรอบ โดยไม่ยืด */
  border-radius: 8px; /* มุมรูปภาพโค้งมน */
  box-shadow: 0 2px 6px ; /* เงาอ่อนรอบภาพ*/
}
table{
  width: 100%;
  border-collapse: collapse;   /* รวมเส้นขอบไม่ให้ซ้อนกัน */
  margin-top: 20px; /* เว้นระยะด้านบนของตาราง */
  background: white;
  box-shadow: 0 0 10px rgba(136, 218, 36, 0.103)
}
th, td{
  width: 25px;  /* กำหนดความกว้างของแต่ละเซลล์ */
  height: 20px; /* กำหนดความสูงของแต่ละเซลล์ */
  border: 1px solid #cf3636fe; /* เส้นขอบ */
  text-align: center;
  padding: 10px; /* เพิ่มระยะห่างในเซลล์ */
}
th {
  background-color: #b3d52d89;
}